Repository nikitababko/password-generator-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint, stylelint --config .stylelint.json

style: add base font
  styles/globalStyles.styles.ts
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint, stylelint --config .stylelint.json

ci(styles,lintstaged): fix stylelint config path
  .lintstagedrc.json
Due: none

ci(deps,styles,stylelint,config): add list of rules 'stylelint-config-prettier'
  .stylelintrc
  package.json
  pnpm-lock.yaml
Due: none

build(config,commitizen): add new scope 'utils'
  commitizen.config.json
  utils/designTokens/designTokens.tokens.ts
  utils/designTokens/index.ts
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint

chore(utils,styles): add design tokens 'MediaBreakPointsDesignTokens'
  utils/designTokens/designTokens.tokens.ts
  utils/designTokens/index.ts
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint

chore(utils,styles): add design tokens 'ColorDesignTokens'
  utils/designTokens/designTokens.tokens.ts
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint

build(config): add styled components support to SSR
  components/Layout/Layout.component.tsx
  components/Layout/Layout.styles.ts
  components/Layout/Layout.types.ts
  components/Layout/index.ts
  components/Theme/Theme.component.tsx
  components/Theme/Theme.types.ts
  components/Theme/index.ts
  next.config.js
  pnpm-lock.yaml
  utils/designTokens/designTokens.types.ts
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint, stylelint --config .stylelint.json

build(config): fix 'printWidth' field
  .prettierrc.json
Due: none

build(config,styles): add new rules
  .stylelintrc
Due: none

feat(ui,utils): 1) Add theme provider; 2) Add light and dark theme and types for them
  components/Theme/Theme.component.tsx
  components/Theme/Theme.types.ts
  components/Theme/index.ts
  utils/designTokens/designTokens.tokens.ts
  utils/designTokens/designTokens.types.ts
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint

chore(config,deps,eslint): add new rules, dependencies and plugins for eslint
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: none

feat(ui): add main layout
  components/Layout/Layout.component.tsx
  components/Layout/Layout.types.ts
  components/Layout/index.ts
  pages/_app.tsx
  pages/index.tsx
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint

chore: rename commitlint.config.ts -> commitlint.config.js
  commitlint.config.js
  commitlint.config.ts
  tsconfig.json
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint

chore(config,deps,eslint): add dependency 'eslint-plugin-jsx-a11y'
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: none

feat(ui,styles): add components: 'Header' and 'Title'
  components/Header/Header.component.tsx
  components/Header/Header.styles.ts
  components/Header/index.ts
  components/Title/Title.component.tsx
  components/Title/Title.styles.ts
  components/Title/index.ts
  pages/index.tsx
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint, stylelint --config .stylelint.json

refactor: change function expression to named function expression
  pages/_app.tsx
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint

refactor: prettier --fix 'Layout' component
  components/Layout/Layout.styles.ts
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint, stylelint --config .stylelint.json

style: add 'padding' to 'Layout' component
  components/Layout/Layout.styles.ts
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint, stylelint --config .stylelint.json

chore(hooks): add hook 'useOnClickOutside'
  hooks/index.ts
  hooks/useOnClickOutside/index.ts
  hooks/useOnClickOutside/useOnClickOutside.hook.ts
  hooks/useOnClickOutside/useOnClickOutside.types.ts
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint

chore(config,commitizen): add new scope 'hooks'
  commitizen.config.json
Due: none

chore(components,ui): add component 'Icon'
  components/Icon/Icon.component.tsx
  components/Icon/Icon.data.tsx
  components/Icon/Icon.types.ts
  components/Icon/index.ts
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint

chore(utils,styles): add new design tokens:
  utils/designTokens/designTokens.tokens.ts
  utils/designTokens/designTokens.types.ts
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint

chore(config,commitizen): add new scope 'components'
  commitizen.config.json
Due: none

refactor(pages): prettier --fix
  pages/_document.tsx
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint

refactor(api): prettier --fix
  pages/api/hello.ts
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint

chore(components): add 'Content' component
  components/Content/Content.component.tsx
  components/Content/Content.styles.ts
  components/Content/index.ts
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint, stylelint --config .stylelint.json

refactor(pages): return 'Content' instead of 'Header'
  pages/index.tsx
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint

chore(config,commitizen): add new scope 'pages'
  commitizen.config.json
Due: none

style(components): add styles for 'Header/Container'
  components/Header/Header.styles.ts
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint, stylelint --config .stylelint.json

style(components): add new styles for 'Layout/Container'
  components/Layout/Layout.styles.ts
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint, stylelint --config .stylelint.json

refactor(config,lintstaged): change 'npx eslint --fix' to 'npx eslint .'
  .lintstagedrc.json
Due: none

refactor(styles): add 'Container' with styles for 'Icon' component
  components/Icon/Icon.component.tsx
  components/Icon/Icon.styles.ts
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint, stylelint --config .stylelint.json

refactor(components): rename from 'IconItem' to 'IconItems'
  components/Icon/Icon.data.tsx
  components/Icon/Icon.types.ts
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint

chore(components): add 'SelectField' component
  components/SelectField/SelectField.component.tsx
  components/SelectField/SelectField.controller.ts
  components/SelectField/SelectField.data.ts
  components/SelectField/SelectField.styles.ts
  components/SelectField/SelectField.types.ts
  components/SelectField/SelectFieldDropDown/SelectFieldDropDown.component.tsx
  components/SelectField/SelectFieldDropDown/SelectFieldDropDown.styles.ts
  components/SelectField/SelectFieldDropDown/SelectFieldDropDown.types.ts
  components/SelectField/SelectFieldDropDown/index.ts
  components/SelectField/SelectFieldItem/SelectFieldItem.component.tsx
  components/SelectField/SelectFieldItem/SelectFieldItem.controller.ts
  components/SelectField/SelectFieldItem/SelectFieldItem.styles.ts
  components/SelectField/SelectFieldItem/SelectFieldItem.types.ts
  components/SelectField/SelectFieldItem/index.ts
  components/SelectField/index.ts
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint, stylelint --config .stylelint.json

feat(components,ui): add ability to change language
  components/Header/Header.component.tsx
  components/Header/Header.data.tsx
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint

refactor(utils): optimize code
  utils/designTokens/designTokens.tokens.ts
  utils/designTokens/designTokens.types.ts
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint

feat(components,ui): add ThemeToggle component
  components/Header/Header.component.tsx
  components/ThemeToggle/ThemeToggle.component.tsx
  components/ThemeToggle/ThemeToggle.styles.ts
  components/ThemeToggle/ThemeToggle.types.ts
  components/ThemeToggle/index.ts
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint, stylelint --config .stylelint.json

style(ui): remove 'margin-bottom: 20px' and add 'align-items: center'
  components/Header/Header.styles.ts
Due: eslint --max-warnings=0, npx prettier --write, npx eslint --fix, next lint, stylelint --config .stylelint.json

chore(eslint): remove 'overrides', add 'ignore' to '@typescript-eslint/no-magic-numbers'
  .eslintrc.json
Due: none

chore(stylelint): remove field 'overrides'
  .stylelintrc
Due: none

Path conditions:
  eslint --max-warnings=0: any of: **/*.{js,jsx,ts,tsx}
  npx prettier --write: any of: **/*.{js,jsx,ts,tsx}
  npx eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  next lint: any of: **/*.{js,jsx,ts,tsx}
  stylelint --config .stylelint.json: any of: **/*.styles.{ts,tsx}
