Repository nikitababko/password-generator-app: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

refactor: remove global types, use 'ValueOf' from 'next/constants'
  src/components/Icon/Icon.types.ts
  src/types/global.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

chore: add spell checker
  .cspell.json
Due: none

chore: add spell checker to lint-staged
  .lintstagedrc.json
Due: none

chore: add new ignore path to .cspell.json
  .cspell.json
Due: none

feat: add translations
  src/components/Form/FormItem/FormItem.component.tsx
  src/components/Form/FormItem/FormItem.types.ts
  src/components/Form/MidSection/MidSection.component.tsx
  src/components/Form/MidSection/MidSection.controller.ts
  src/components/Form/MidSection/MidSection.types.ts
  src/components/Header/Header.component.tsx
  src/components/Header/Header.data.tsx
  src/components/SelectField/SelectField.types.ts
  src/hooks/index.ts
  src/hooks/useTranslate/index.ts
  src/hooks/useTranslate/useTranslate.data.ts
  src/hooks/useTranslate/useTranslate.hook.ts
  src/hooks/useTranslate/useTranslate.types.ts
  src/store/store.data.ts
  src/store/store.tsx
  src/store/store.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

style: add property 'border' to 'SelectField' and 'DropDown'
  src/components/Form/FormItem/FormItem.component.tsx
  src/components/SelectField/SelectField.styles.ts
  src/components/SelectField/SelectField.types.ts
  src/components/SelectField/SelectFieldDropDown/SelectFieldDropDown.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

chore: add FORCE_COLOR=1 to pre-commit
  .husky/pre-commit
Due: none

chore: add new media breakpoint '1200'
  .eslintrc.json
  src/utils/designTokens/designTokens.tokens.ts
  src/utils/designTokens/designTokens.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

refactor: remove media breakpoint '1920', add '1024'
  .eslintrc.json
  src/components/Content/Content.styles.ts
  src/utils/designTokens/designTokens.tokens.ts
  src/utils/designTokens/designTokens.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

refactor: add block 'RightCol', add 'column-gap' to 'Container'
  src/components/Form/FormItem/FormItem.component.tsx
  src/components/Form/FormItem/FormItem.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

style: add 'max-width' to 'Container'
  src/components/Switch/Switch.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

style: refactor form styles
  src/components/Form/Form.styles.ts
  src/components/Form/MidSection/MidSection.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

refactor: add type 'LanguagesType' for arg 'id' in 'callback'
  src/components/SelectField/SelectFieldDropDown/SelectFieldDropDown.types.ts
  src/components/SelectField/SelectFieldItem/SelectFieldItem.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

refactor: fix import for 'FormItemsType'
  src/components/Form/TopSection/TopSection.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

style: add containers for media query
  src/styles/mediaQueryContainers/index.ts
  src/styles/mediaQueryContainers/mediaQueryContainers.types.ts
  src/styles/mediaQueryContainers/mediaQueryContainers.utils.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

style: add styles for media breakpoint '1024'
  src/components/Form/Form.styles.ts
  src/components/Layout/Layout.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

style: add styles for media breakpoint '768'
  src/components/Form/FormItem/FormItem.component.tsx
  src/components/Form/FormItem/FormItem.controller.ts
  src/components/Form/FormItem/FormItem.styles.ts
  src/components/Form/FormItem/FormItem.types.ts
  src/components/Form/MidSection/MidSection.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

fix: display 'ValueExample'
  src/components/Form/FormItem/FormItem.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

fix: incorrect display of theme colors
  src/components/Form/FormItem/FormItem.styles.ts
  src/components/Form/MidSection/MidSection.styles.ts
  src/components/Layout/Layout.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

refactor: some styles
  src/components/Form/FormItem/FormItem.component.tsx
  src/components/Form/FormItem/FormItem.styles.ts
  src/components/SelectField/SelectField.styles.ts
  src/components/SelectField/SelectField.types.ts
  src/components/Switch/Switch.styles.ts
  src/components/ThemeToggle/ThemeToggle.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

style: add media breakpoint container '375'
  .eslintrc.json
  src/styles/mediaQueryContainers/mediaQueryContainers.utils.ts
  src/utils/designTokens/designTokens.tokens.ts
  src/utils/designTokens/designTokens.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

style: add styles for media breakpoints '768', '480' and '375'
  src/components/Form/FormItem/FormItem.styles.ts
  src/components/Form/MidSection/MidSection.styles.ts
  src/components/Header/Header.component.tsx
  src/components/Header/Header.styles.ts
  src/components/Layout/Layout.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

refactor: global store
  src/components/Form/MidSection/MidSection.controller.ts
  src/components/Form/TopSection/TopSection.controller.ts
  src/components/Header/Header.component.tsx
  src/components/ThemeProvider/ThemeProvider.controller.ts
  src/components/ThemeToggle/ThemeToggle.controller.ts
  src/hooks/useTranslate/useTranslate.hook.ts
  src/store/appActions.actions.ts
  src/store/appActions.data.ts
  src/store/appReducer.reducers.ts
  src/store/store.data.ts
  src/store/store.tsx
  src/store/store.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

style: fix layout styles
  src/components/Content/Content.styles.ts
  src/components/Form/Form.styles.ts
  src/components/Layout/Layout.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

feat: add password preload option
  src/components/Form/MidSection/MidSection.controller.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

feat: switch component
  .eslintrc.json
  src/components/Form/FormItem/FormItem.component.tsx
  src/components/Form/FormItem/FormItem.types.ts
  src/components/Form/MidSection/MidSection.component.tsx
  src/components/Form/MidSection/MidSection.controller.ts
  src/components/Form/MidSection/MidSection.data.ts
  src/components/Form/TopSection/TopSection.component.tsx
  src/components/Form/TopSection/TopSection.controller.ts
  src/components/Form/TopSection/TopSection.types.ts
  src/components/Switch/Switch.component.tsx
  src/components/Switch/Switch.styles.ts
  src/components/Switch/Switch.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

chore: remove stylelint
  .cspell.json
  .lintstagedrc.json
  .stylelintrc
  commitizen.config.json
  package.json
  pnpm-lock.yaml
Due: none

style: change transition animation: from left/right to transform
  src/components/Switch/Switch.styles.ts
  src/components/ThemeToggle/ThemeToggle.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

refactor: move handle animation from designTokens to animation directory
  src/components/Form/MidSection/MidSection.styles.ts
  src/components/SelectField/SelectField.styles.ts
  src/components/SelectField/SelectFieldDropDown/SelectFieldDropDown.styles.ts
  src/components/SelectField/SelectFieldItem/SelectFieldItem.styles.ts
  src/components/Switch/Switch.styles.ts
  src/components/ThemeToggle/ThemeToggle.styles.ts
  src/styles/globalStyles.styles.ts
  src/utils/animation/animation.types.ts
  src/utils/animation/animation.utils.ts
  src/utils/animation/index.ts
  src/utils/designTokens/designTokens.tokens.ts
  src/utils/designTokens/designTokens.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

refactor: fix some imports, remove api
  src/components/Header/Header.styles.ts
  src/components/Layout/Layout.styles.ts
  src/components/SelectField/SelectField.styles.ts
  src/components/SelectField/SelectField.types.ts
  src/components/SelectField/SelectFieldDropDown/SelectFieldDropDown.styles.ts
  src/components/SelectField/SelectFieldItem/SelectFieldItem.styles.ts
  src/components/Switch/Switch.styles.ts
  src/components/ThemeToggle/ThemeToggle.controller.ts
  src/components/ThemeToggle/ThemeToggle.styles.ts
  src/components/Title/Title.component.tsx
  src/pages/api/hello.ts
  src/store/store.data.ts
  src/store/store.types.ts
  src/styles/globalStyles.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

feat: add animation for password generate button
  src/components/Form/MidSection/MidSection.component.tsx
  src/components/Form/MidSection/MidSection.controller.ts
  src/components/Form/MidSection/MidSection.styles.ts
  src/components/Form/MidSection/MidSection.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

style: change box shadow blur radius for buttons
  src/components/Form/MidSection/MidSection.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

chore: add ReturnUseTranslateType
  src/hooks/useTranslate/useTranslate.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

refactor: 1) Move useTranslation to the controller; 2) Add file for data
  src/components/Form/FormItem/FormItem.component.tsx
  src/components/Form/FormItem/FormItem.controller.ts
  src/components/Form/FormItem/FormItem.data.ts
  src/components/Form/FormItem/FormItem.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

refactor: add method 'isDisabledItem'
  src/components/Form/TopSection/TopSection.component.tsx
  src/components/Form/TopSection/TopSection.controller.ts
  src/components/Form/TopSection/TopSection.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

refactor: 1) Imports; 2) Replace 'generateButtonTranslation' with 't'
  src/components/Form/MidSection/MidSection.component.tsx
  src/components/Form/MidSection/MidSection.controller.ts
  src/components/Form/MidSection/MidSection.styles.ts
  src/components/Form/MidSection/MidSection.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

refactor: 1) Replace imports; 2) Add var boxShadow
  src/components/Header/Header.component.tsx
  src/components/Header/Header.data.tsx
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

refactor: 1) Change types; 2) Add constant fill color
  src/components/Icon/Icon.component.tsx
  src/components/Icon/Icon.data.tsx
  src/components/Icon/Icon.styles.ts
  src/components/Icon/Icon.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

refactor: 1) Delete data file; 2) Fix controller logic
  src/components/SelectField/SelectField.component.tsx
  src/components/SelectField/SelectField.controller.ts
  src/components/SelectField/SelectField.data.ts
  src/components/SelectField/SelectField.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

Path conditions:
  npx prettier --write: any of: **/*.{js,jsx,ts,tsx}
  npx eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  eslint --max-warnings=0: any of: **/*.{js,jsx,ts,tsx}
  stylelint --config .stylelintrc: any of: **/*.styles.{ts,tsx}
