Repository nikitababko/password-generator-app: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

chore(lintstaged): add '--fix' to 'npx eslint'
  .lintstagedrc.json
Due: none

style(ui): fix styles
  components/SelectField/SelectField.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

style: remove white space in 'ChevronWrapper'
  components/SelectField/SelectField.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

chore(stylelint): add rule 'function-whitespace-after: null'
  .stylelintrc
Due: none

feat(ui): add animation for opening dropdown menu
  components/SelectField/SelectField.component.tsx
  components/SelectField/SelectFieldDropDown/SelectFieldDropDown.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

refactor(eslint): move rules to overrides
  .eslintrc.json
Due: none

refactor(components,utils): replace theme key 'transition' with 'animation'
  components/SelectField/SelectField.styles.ts
  components/SelectField/SelectFieldDropDown/SelectFieldDropDown.styles.ts
  components/SelectField/SelectFieldItem/SelectFieldItem.styles.ts
  components/ThemeToggle/ThemeToggle.styles.ts
  utils/designTokens/designTokens.tokens.ts
  utils/designTokens/designTokens.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

refactor(components,utils): rename theme colors and remove redundant ones
  components/SelectField/SelectField.styles.ts
  components/SelectField/SelectFieldDropDown/SelectFieldDropDown.styles.ts
  components/ThemeToggle/ThemeToggle.styles.ts
  utils/designTokens/designTokens.tokens.ts
  utils/designTokens/designTokens.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

build: reinstall all project dependencies
  pnpm-lock.yaml
Due: none

refactor(components,utils): rename color design tokens and add new ones
  components/Icon/Icon.data.tsx
  components/SelectField/SelectFieldItem/SelectFieldItem.styles.ts
  components/ThemeToggle/ThemeToggle.styles.ts
  utils/designTokens/designTokens.tokens.ts
  utils/designTokens/designTokens.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

chore(components): add property 'styles'
  components/SelectField/SelectField.component.tsx
  components/SelectField/SelectField.styles.ts
  components/SelectField/SelectField.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

refactor(components): rename type
  components/SelectField/SelectFieldDropDown/SelectFieldDropDown.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

style(components,ui): add 'z-index' to Container
  components/SelectField/SelectFieldDropDown/SelectFieldDropDown.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

refactor(components): rename Container property from 'style' to 'styles'
  components/SelectField/SelectField.component.tsx
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

refactor(components): rename keyframes animation
  components/ThemeToggle/ThemeToggle.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

feat(components,ui): add form and form items
  components/Content/Content.component.tsx
  components/Content/Content.styles.ts
  components/Form/Form.component.tsx
  components/Form/Form.styles.ts
  components/Form/FormItem/FormItem.component.tsx
  components/Form/FormItem/FormItem.data.ts
  components/Form/FormItem/FormItem.styles.ts
  components/Form/FormItem/FormItem.types.ts
  components/Form/FormItem/FormItemSwitch/FormItemSwitch.component.tsx
  components/Form/FormItem/FormItemSwitch/FormItemSwitch.styles.ts
  components/Form/FormItem/FormItemSwitch/FormItemSwitch.types.ts
  components/Form/FormItem/FormItemSwitch/index.ts
  components/Form/FormItem/index.ts
  components/Form/index.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

build(deps): remove @commitlint/types
  package.json
  pnpm-lock.yaml
Due: none

feat: add icon 'ArrowRepeat'
  components/Icon/Icon.data.tsx
  components/Icon/Icon.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

refactor(components,utils): move theme property 'animation' to separate const 'Animation'
  components/Form/FormItem/FormItemSwitch/FormItemSwitch.styles.ts
  components/SelectField/SelectField.styles.ts
  components/SelectField/SelectFieldDropDown/SelectFieldDropDown.styles.ts
  components/SelectField/SelectFieldItem/SelectFieldItem.styles.ts
  components/ThemeToggle/ThemeToggle.styles.ts
  utils/designTokens/designTokens.tokens.ts
  utils/designTokens/designTokens.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

refactor(components,utils): move theme property 'fontSizes' to separate const 'FontSize'
  components/Form/FormItem/FormItem.styles.ts
  components/SelectField/SelectFieldItem/SelectFieldItem.styles.ts
  components/Title/Title.styles.ts
  utils/designTokens/designTokens.tokens.ts
  utils/designTokens/designTokens.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

refactor(utils): add const assertion for Animation
  utils/designTokens/designTokens.tokens.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

refactor(components): rename data.map() arg from 'item' to 'selectFieldItem'
  components/SelectField/SelectFieldDropDown/SelectFieldDropDown.component.tsx
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

feat(components): add new icon 'CopySelect'
  components/Icon/Icon.data.tsx
  components/Icon/Icon.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

feat(components): add Top and Mid sections
  components/Form/Form.component.tsx
  components/Form/Form.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

refactor(components): component FormItemSwitch
  components/Form/FormItem/FormItem.component.tsx
  components/Form/FormItem/FormItemSwitch/FormItemSwitch.types.ts
  components/Form/FormItem/FormItemSwitch/index.ts
  components/Switch/Switch.component.tsx
  components/Switch/Switch.styles.ts
  components/Switch/Switch.types.ts
  components/Switch/index.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

feat(components): add property 'callback'
  components/SelectField/SelectField.component.tsx
  components/SelectField/SelectField.types.ts
  components/SelectField/SelectFieldDropDown/SelectFieldDropDown.component.tsx
  components/SelectField/SelectFieldDropDown/SelectFieldDropDown.types.ts
  components/SelectField/SelectFieldItem/SelectFieldItem.component.tsx
  components/SelectField/SelectFieldItem/SelectFieldItem.controller.ts
  components/SelectField/SelectFieldItem/SelectFieldItem.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

refactor(components,styles): add type ChildrenStylesProps
  components/SelectField/SelectFieldItem/SelectFieldItem.component.tsx
  components/SelectField/SelectFieldItem/SelectFieldItem.styles.ts
  components/SelectField/SelectFieldItem/SelectFieldItem.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

feat(components): add property 'callback'
  components/Form/FormItem/FormItem.component.tsx
  components/Form/FormItem/FormItem.types.ts
  components/Switch/Switch.component.tsx
  components/Switch/Switch.styles.ts
  components/Switch/Switch.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

feat(components,styles,deps): add global store and add password generation logic to the form
  components/Form/Form.component.tsx
  components/Form/Form.styles.ts
  components/Form/FormItem/FormItem.component.tsx
  components/Form/FormItem/FormItem.data.ts
  components/Form/FormItem/FormItem.types.ts
  components/Form/MidSection/MidSection.component.tsx
  components/Form/MidSection/MidSection.controller.ts
  components/Form/MidSection/MidSection.data.ts
  components/Form/MidSection/MidSection.styles.ts
  components/Form/MidSection/MidSection.types.ts
  components/Form/MidSection/index.ts
  components/Form/TopSection/TopSection.component.tsx
  components/Form/TopSection/TopSection.controller.ts
  components/Form/TopSection/TopSection.styles.ts
  components/Form/TopSection/TopSection.types.ts
  components/Form/TopSection/index.ts
  components/Layout/Layout.component.tsx
  components/SelectField/SelectField.component.tsx
  components/SelectField/SelectField.controller.ts
  components/SelectField/SelectField.types.ts
  components/SelectField/SelectFieldDropDown/SelectFieldDropDown.component.tsx
  components/SelectField/SelectFieldDropDown/SelectFieldDropDown.types.ts
  components/SelectField/SelectFieldItem/SelectFieldItem.component.tsx
  components/SelectField/SelectFieldItem/SelectFieldItem.controller.ts
  components/SelectField/SelectFieldItem/SelectFieldItem.types.ts
  components/Switch/Switch.component.tsx
  components/Switch/Switch.controller.ts
  components/Switch/Switch.types.ts
  package.json
  pages/_app.tsx
  pnpm-lock.yaml
  store/index.ts
  store/store.data.ts
  store/store.tsx
  store/store.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

chore(commitizen): add scope 'types'
  commitizen.config.json
Due: none

chore(types): add global types
  types/global.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

refactor(utils,styles): make a const 'Animation' into a function
  components/Form/MidSection/MidSection.styles.ts
  components/SelectField/SelectField.styles.ts
  components/SelectField/SelectFieldDropDown/SelectFieldDropDown.styles.ts
  components/SelectField/SelectFieldItem/SelectFieldItem.styles.ts
  components/Switch/Switch.styles.ts
  components/ThemeToggle/ThemeToggle.styles.ts
  utils/designTokens/designTokens.tokens.ts
  utils/designTokens/designTokens.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

refactor(components,styles,types): 'Icon' component
  components/Icon/Icon.component.tsx
  components/Icon/Icon.data.tsx
  components/Icon/Icon.styles.ts
  components/Icon/Icon.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

feat(components,styles,types): add password copy logic
  components/Form/MidSection/MidSection.component.tsx
  components/Form/MidSection/MidSection.controller.ts
  components/Form/MidSection/MidSection.data.ts
  components/Form/MidSection/MidSection.styles.ts
  components/Form/MidSection/MidSection.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

refactor: rename 'Theme' component to 'ThemeProvider'
  src/components/Theme/Theme.component.tsx
  src/components/Theme/index.ts
  src/components/ThemeProvider/ThemeProvider.component.tsx
  src/components/ThemeProvider/ThemeProvider.types.ts
  src/components/ThemeProvider/index.ts
  src/pages/_app.tsx
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

refactor: add controller for 'ThemeToggle' component
  src/components/ThemeToggle/ThemeToggle.component.tsx
  src/components/ThemeToggle/ThemeToggle.controller.ts
  src/components/ThemeToggle/ThemeToggle.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0

refactor(utils,styles,types): remove property 'colors' from 'ThemeType'
  src/components/Form/Form.styles.ts
  src/components/Form/FormItem/FormItem.styles.ts
  src/components/Form/MidSection/MidSection.styles.ts
  src/components/Layout/Layout.styles.ts
  src/components/SelectField/SelectField.styles.ts
  src/components/SelectField/SelectFieldDropDown/SelectFieldDropDown.styles.ts
  src/utils/designTokens/designTokens.tokens.ts
  src/utils/designTokens/designTokens.types.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

feat: add theme switching logic
  src/components/ThemeProvider/ThemeProvider.component.tsx
  src/components/ThemeProvider/ThemeProvider.controller.ts
  src/components/ThemeProvider/ThemeProvider.types.ts
  src/components/ThemeToggle/ThemeToggle.controller.ts
  src/store/store.tsx
  src/store/store.types.ts
  src/styles/globalStyles.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

style: fix height for SelectField and ThemeToggle, add height for SelectFieldItem
  src/components/SelectField/SelectField.styles.ts
  src/components/SelectField/SelectFieldItem/SelectFieldItem.styles.ts
  src/components/ThemeToggle/ThemeToggle.styles.ts
Due: npx prettier --write, npx eslint --fix, eslint --max-warnings=0, stylelint --config .stylelintrc

Path conditions:
  npx prettier --write: any of: **/*.{js,jsx,ts,tsx}
  npx eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  eslint --max-warnings=0: any of: **/*.{js,jsx,ts,tsx}
  stylelint --config .stylelintrc: any of: **/*.styles.{ts,tsx}
