Repository nikitababko/password-generator-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --max-warnings=0, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "eslint --max-warnings=0",
    "bash -c tsc"
  ],
  "**/*.{js,jsx,ts,tsx,md,json}": [
    "npx cspell '**/*.{js,jsx,ts,tsx,md,json}'"
  ]
}

refactor: copy button
  src/components/Form/MidSection/MidSection.component.tsx
  src/components/Form/MidSection/MidSection.controller.ts
  src/components/Form/MidSection/MidSection.styles.ts
Due: eslint --fix, prettier --write, eslint --max-warnings=0, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

refactor: icon component
  src/components/Header/Header.data.tsx
  src/components/Icon/Icon.component.tsx
  src/components/Icon/Icon.data.tsx
  src/components/Icon/Icon.styles.ts
  src/components/Icon/Icon.types.ts
  src/components/SelectField/DropDown/DropDown.component.tsx
Due: eslint --fix, prettier --write, eslint --max-warnings=0, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

fix: add 'logo-og.png' and 'logo-twitter.png'
  public/static/logo-og.png
  public/static/logo-twitter.png
  public/static/logo.png
  src/constants.ts
  src/pages/_document.tsx
Due: eslint --fix, prettier --write, eslint --max-warnings=0, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

fix: change '.nvmrc' version
  .nvmrc
Due: none

fix: add NumberField instead SelectField for password length
  cypress/e2e/spec.cy.ts
  cypress/e2e/spec.data.ts
  cypress/e2e/spec.helpers.ts
  src/components/Form/Item/Item.component.tsx
  src/components/Form/Item/Item.controller.ts
  src/components/Form/Item/Item.test.tsx
  src/components/Form/Item/Item.types.ts
  src/components/Form/TopSection/TopSection.component.tsx
  src/components/Form/TopSection/TopSection.controller.ts
  src/components/Header/Header.test.tsx
  src/components/Icon/Icon.component.tsx
  src/components/Icon/Icon.types.ts
  src/components/NumberField/NumberField.component.tsx
  src/components/NumberField/NumberField.controller.ts
  src/components/NumberField/NumberField.styles.ts
  src/components/NumberField/NumberField.types.ts
  src/components/NumberField/index.ts
  src/components/SelectField/DropDown/DropDown.test.tsx
  src/components/SelectField/SelectField.test.tsx
  src/components/Switch/Switch.component.tsx
  src/components/Switch/Switch.controller.ts
  src/components/Switch/Switch.test.tsx
  src/components/Switch/Switch.types.ts
  src/components/ThemeToggle/ThemeToggle.component.tsx
  src/components/ThemeToggle/ThemeToggle.styles.ts
  src/components/ThemeToggle/ThemeToggle.test.tsx
  src/helpers.ts
  src/hooks/index.ts
  src/hooks/useDebounce/index.ts
  src/hooks/useDebounce/useDebounce.hook.ts
  src/hooks/useTranslate/useTranslate.data.ts
  src/store/formState.ts
  src/store/store.data.ts
Due: eslint --fix, prettier --write, eslint --max-warnings=0, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

fix: component 'TopSection'
  src/components/Form/TopSection/TopSection.controller.ts
  src/components/Form/TopSection/TopSection.test.tsx
Due: eslint --fix, prettier --write, eslint --max-warnings=0, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

chore: remove 'bash -c tsc' from lintstagedrc
  .lintstagedrc.json
Due: npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

style: add color for header under light and dark themes
  src/components/Form/MidSection/MidSection.styles.ts
  src/components/Header/Header.styles.ts
  src/constants.ts
Due: eslint --fix, prettier --write, eslint --max-warnings=0, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

chore: fix lint script in package.json
  package.json
Due: npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

chore: remove cspell from project
  .cspell.json
  .lintstagedrc.json
Due: npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

fix: update author link
  package.json
  src/components/Form/BottomSection/BottomSection.component.tsx
Due: eslint --fix, prettier --write, eslint --max-warnings=0, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'
